<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="card d-flex align-items-center justify-content-center" style="width: 50%;">
        <div class="card-body" style="width: 80%;">
            <h5 class="card-title text-center p-2" style="background-color: blueviolet;">Book Ticket</h5>
            <form [formGroup]="ticketForm">
                <div class="field">
                    <label class="label">User Id</label>
                    <input class="form-control" formControlName="userId" type="number" readonly>
                </div>
                <div class="field">
                    <label class="label">Show Id</label>
                    <input class="form-control" formControlName="showId" type="number" readonly>
                </div>
                <div class="field">
                    <label class="label">Movie Name</label>
                    <input class="form-control" formControlName="movieName" type="text" readonly>
                </div>
                <div class="field">
                    <label class="label">Theatre Name</label>
                    <input class="form-control" formControlName="theatreName" type="text" readonly>
                </div>
                <div class="field">
                    <label class="label">Show Timing</label>
                    <input class="form-control" formControlName="showTiming" type="text" readonly>
                </div>
                <div class="field">
                    <label class="label">No Of Tickets</label>
                    <input class="form-control" formControlName="noOfTickets" type="number">
                </div>
                <div class="field">
                    <label class="label">Seat Numbers</label>
                    <input class="form-control" formControlName="seatNos" type="text">
                </div>
                <br>
                <div>
                    <button class="btn btn-primary" (click)="OnAdd()" style="float: right;">Book</button>
                    <button class="btn btn-secondary" (click)="OnCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>