.thead-light{
    background-color: violet;
    color: white;
}

.movie-grid{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.movie-card{
    height: 260px;
    width: 270px;
    border: 1px solid;
    text-align: center;
    padding: padding;
}

.movie-image{
    height: 120px;
    width: 100%;
}
