.container-fluid{
    background-color: blueviolet;
}

.card{
    background-color:  rgb(181, 132, 227);
    height: 640px;
}

.image-container{
    background-color: blueviolet;
    width: 100%;
    max-width: fit-content;
}

.img-fluid{
    height: 640px;
}